#fact-container {
  height: 75px;
  overflow-y: auto;
}

.notification {
  opacity: 80%;
  transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  word-wrap: break-word;
}

#notification-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  width: 20vw;
}

.project-card {
  transition: 0.1s;
}

.project-card:hover {
  box-shadow: 0px 0px 5px 1px rgba(232,232,232,1);
  -moz-box-shadow: 2px 2px 5px 1px rgba(232,232,232,1);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(232,232,232,1);
}
